*{
    margin:0px;
    padding:0px;
}
body{
    background-image: url(Metropolitan_Museum_of_Art_\(The_Met\)_-_Central_Park\,_NYC.jpg);
    background-size:100%;
    background-position: center;
    background-repeat: no-repeat;
    
}
.header{
    background-color:white;
    margin-top:20px;
    width: 100% auto;
}
h3{
    display: inline-block;
    color:darkgreen;
    margin-left:30px;
    font-size: 50px;
}
ul{
    display:inline;
    
   
}
li{
    display: inline;
   padding:20px;
    color:darkolivegreen;
}
li:hover{
    color: aquamarine;
    text-decoration: underline;
}
.body{

    height:370px;
    text-align: center;
    padding-top: 250px;
    width: 100% auto;
}
#bodyh3{
    font-family:'Times New Roman', Times, serif;
    font-size:100px;
    color:black;

    
    background:linear-gradient(rgb(222, 135, 136),rgb(222, 206, 135),rgb(222, 173, 135));
}
p{
    font-size: 20px;
    
    background:linear-gradient(rgb(222, 135, 136),rgb(222, 206, 135),rgb(222, 173, 135));

    font-family:cursive;

}
button{
    background-color: brown;
    margin-top: 20px;
    border-radius:20px;
}
button:hover{
    color: white;
}
.headline{
    background-color: white;
}
i{  
    padding-top: 10px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}